ion-grid {
    max-width: 500px;
  }

  

.aboutCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    border-radius: 25px;
    background-color: rgba(4, 225, 255, 0.33);
}

ion-button {
    width: 65px;
    margin: 40px 10px 0 0;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    color: #a0a0a0;
  }