<ion-grid>
<h3>Air Quality</h3>
<div class="aboutCard">Air quality is an important factor to learning. If air quality is bad, it might be the reason you are yawning and feeling tired.</div>
<h3>Temperature</h3>
<div class="aboutCard">It is important to have the temperature just right. Nobody likes studying sweaty and being too cold also reduces studying quality.</div>
<h3>Humidity</h3>
<div class="aboutCard">Diseases spread easier in low-humid air. It can also skin or eye irritation, rash, dry skin which all drain your energy.</div>

<ion-button expand="full" fill="clear" (click)="popover.dismiss()"> Close </ion-button>
</ion-grid>