<ion-header>
  <ion-toolbar>
    <ion-title>condition-input</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center" size="12">
          <h1>The mental shower room D3.05</h1>
        </ion-col>
        <ion-col class="ion-text-center" size="12">
          <ion-item-divider></ion-item-divider>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center" size="12">
          <h2>Please select a condition</h2>
        </ion-col>
      </ion-row>

      <!-- Condition buttons section-->
      <ion-row>
        <ion-col class="ion-text-right" size="6">
          <app-condition-button
            condition="fresh"
            [selectedCondition]="condition"
            (selectCondition)="selectCondition($event)"
          ></app-condition-button>
        </ion-col>
        <ion-col class="ion-text-left" size="6">
          <app-condition-button
            condition="stuffy"
            [selectedCondition]="condition"
            (selectCondition)="selectCondition($event)"
          ></app-condition-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-right" size="6">
          <app-condition-button
            condition="cold"
            [selectedCondition]="condition"
            (selectCondition)="selectCondition($event)"
          ></app-condition-button>
        </ion-col>
        <ion-col class="ion-text-left" size="6">
          <app-condition-button
            condition="warm"
            [selectedCondition]="condition"
            (selectCondition)="selectCondition($event)"
          ></app-condition-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-right" size="6">
          <app-condition-button
            condition="dry"
            [selectedCondition]="condition"
            (selectCondition)="selectCondition($event)"
          ></app-condition-button>
        </ion-col>
        <ion-col class="ion-text-left" size="6">
          <app-condition-button
            condition="damp"
            [selectedCondition]="condition"
            (selectCondition)="selectCondition($event)"
          ></app-condition-button>
        </ion-col>
      </ion-row>

      <!-- Accept button section-->
      <ion-row>
        <ion-col size="12">
          <ng-container>
            <ion-list style="text-align: center">
              <ion-button
                [routerLink]="['/how-input']"
                color="success"
                [disabled]="!condition"
                >Next</ion-button
              >
            </ion-list>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
