<!-- student-create.html -->
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Create Input</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input [(ngModel)]="data.name" placeholder="Enter Name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Age</ion-label>
    <ion-input [(ngModel)]="data.age" placeholder="Enter Age"></ion-input>
  </ion-item>

  <!--  The new REST API for inputs 
  <ion-item>
    <ion-label>Zone</ion-label>
    <ion-input [(ngModel)]="data.zone" placeholder="Enter Zone"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Temperature</ion-label>
    <ion-input [(ngModel)]="data.Temperature" placeholder="Enter temperature"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Humidity</ion-label>
    <ion-input [(ngModel)]="data.Humidity" placeholder="Enter Humidity"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label>Air quality</ion-label>
    <ion-input [(ngModel)]="data.AirQuality" placeholder="Enter air quality"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Date</ion-label>
    <ion-input [(ngModel)]="data.date" placeholder="Enter date"></ion-input>
  </ion-item>

  -->

  <ion-item>
    <ion-button (click)="submitForm()">Add
    </ion-button>
  </ion-item>

</ion-content> 