<ion-app>
  <ion-header>
    <app-header></app-header>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center" size="12">
          <h1>Welcome User</h1>
        </ion-col>
        <ion-col class="ion-text-center" size="12">
          <ion-item-divider></ion-item-divider>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let item of measuredValues; index as i">
        <ion-col>
          <h2>{{ item.name }}</h2>
          <div class="overview-card" [style]="{ 'background-color': item.color }">
            <div class="icon" [innerHTML]="icons[i]"></div>
            <span class="value-text">It is {{ item.value }}{{ item.unit }}</span>
            <span class="more-button">More</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-col size="12">
        <p class="ion-text-center">Copyright &#xA9; 2022 Mental Shower. All rights Reserved</p>
      </ion-col>
    </ion-toolbar>
  </ion-footer>
</ion-app>
