.airquality {
  padding: 6px;
  background: rgba(4, 225, 255, 0.33);
  border-radius: 25px;
}

.temp {
  padding: 6px;
  background: rgba(255, 200, 4, 0.33);
  border-radius: 25px;
}

.humidity {
  padding: 6px;
  background: rgba(5, 255, 150, 0.33);
  border-radius: 25px;
}
