ion-grid {
  max-width: 500px;
}

/*AIR STARTS*/
.airquality {
  padding: 6px;
  background: rgba(4, 225, 255, 0.33);
  border-radius: 25px;
}

.airquality ion-label p{
  margin-top: 40px;
  font-weight: bold;
}

.airquality ion-label h2{
  margin-top: 20px;
  font-weight: bold;
}

/*TEMP STARTS*/

.temp {
  padding: 6px;
  background: rgba(255, 200, 4, 0.33);
  border-radius: 25px;
}

.temp ion-label p{
  margin-top: 40px;
  font-weight: bold;
}

.temp ion-label h2{
  margin-top: 20px;
  font-weight: bold;
}

/*HUMIDITY STARTS*/

.humidity {
  padding: 6px;
  background: rgba(5, 255, 150, 0.33);
  border-radius: 25px;
}

.humidity ion-label p{
  margin-top: 40px;
  font-weight: bold;
}

.humidity ion-label h2{
  margin-top: 20px;
  font-weight: bold;
}



/* MORE TEXT, On screens that are 600px wide or less, the */
@media screen and (max-width: 600px) {
  .airquality ion-label p{
      margin-top: 40px !important;
      font-weight: bold;
  }
  .airquality ion-label h2{
    margin-top: 20px;
    font-weight: bold;
  }
}

@media screen and (max-width: 600px) {
  .temp ion-label p{
      margin-top: 40px !important;
      font-weight: bold;
  }
  .temp ion-label h2{
    margin-top: 20px;
    font-weight: bold;
  }
}

@media screen and (max-width: 600px) {
  .humidity ion-label p{
      margin-top: 40px !important;
      font-weight: bold;
  }
  .humidity ion-label h2{
    margin-top: 20px;
    font-weight: bold;
  }
}
