<ion-app>
  <ion-header>
    <app-header></app-header>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-grid>

      <ion-row>
        <ion-col class="ion-text-center" size="12">
          <h1>Finish up with results</h1>
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="../../assets/icon/mental_logo.png" alt="Paris">
              </div>
              <div class="flip-box-back">
                <h3>Thank you user</h3>
                <p>Your inputs can<br> be seeing below</p>
                <ion-icon size="large" name="chevron-down-outline"></ion-icon>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let item of measuredValues; index as i">
        <ion-col>
          <h2>{{ item.name }}</h2>
          <div class="overview-card" [style]="{ 'background-color': item.color }">
            <div class="icon" [innerHTML]="icons[i]"></div>
            <span class="value-text">It is {{ item.value }}{{ item.unit }}</span>
            <span class="more-button"><ion-button expand="full" fill="clear" (click)="presentPopover()"><ion-label>More</ion-label></ion-button>
            </span>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button style="float:right;" color="primary" (click)="submitForm()">End!</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
        <p class="ion-text-center">Copyright &#xA9; 2022 Mental Shower. All rights Reserved</p>
    </ion-toolbar>
  </ion-footer>
  
</ion-app>
