.airquality{
    
    background: rgba(4, 225, 255, 0.33);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
}

.temp{
    background: rgba(255, 200, 4, 0.33);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.humidity{
    background: rgba(5, 255, 150, 0.33);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;    
}

.buttons{
}

.left_icon p{
}

.right_icon p{
}