
.blink {
    animation: blink 2s 3;
    opacity: 0;
}


.point-label  {
    transition: transform .2s; /* Animation */
}

.point-label:hover{
    color:black;
    opacity: 0.6;
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        color: blue;
    }
}

.zoom{
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.copyright span{
    color:black;
    cursor: pointer;
    opacity: 0.5;
}

.copyright span:hover{
    color:blue;
    opacity: 1.0;
}

.roadmap .point .point-index:hover{
    background-color: rgba(5, 255, 150, 0.33);
}



@media screen and (max-width: 600px) {
    .roadmap{
        padding: 0% !important;
    }
    .color_change p{
        margin-top: -7% !important;
    }
    
}

