<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-title>Room: {{ roomName$ | async }}</ion-title>
          </ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-title>Timer: 59:50</ion-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-title>Zone: {{ zoneId$ | async }}</ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-app>
