.header-row{
    font-weight: 500;
    border-bottom: 2px solid #000;
}

.data-row{
    border-bottom: 1px solid #000;
}

.error-message {
    color: red;
    font-size: small;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  