<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Header</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="12">The Mental Shower room D3.05 </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12"> _______________ </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">Please choose a zone </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm> </ion-col>
        <ion-col size="12" size-sm>Wall Side </ion-col>
        <ion-col size="12" size-sm>Door Side </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm> Vent 1 (at board) </ion-col>
        <ion-col size="12"size-sm>9 </ion-col>
        <ion-col size="12" size-sm>10 </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm> Vent 2</ion-col>
        <ion-col size="12" size-sm>11 </ion-col>
        <ion-col size="12" size-sm>12 </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm> Vent 3</ion-col>
        <ion-col size="12" size-sm>13 </ion-col>
        <ion-col size="12" size-sm>14 </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm> Vent 4 (at windows)</ion-col>
        <ion-col size="12" size-sm>15 </ion-col>
        <ion-col size="12" size-sm>16 </ion-col>
      </ion-row>
      
      <!-- <ion-row>
        <ion-col size="12" size-sm>
          <div>Jannick</div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div>Paranshu</div>
        </ion-col>
        <ion-col size="12">
          <div>Boton</div>
        </ion-col>
        <ion-col size="12">
          <div>Rukshan</div>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-app>