ion-grid {
  max-width: 500px;
}

.custom-button{
  --background: transparent;
}


.background-icon-wrapper {
  border-radius: 50%;
  background-color: rgba(153, 210, 252, 0.6);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.gender-btn-wrapper {
  display: flex;
  justify-content:center;
}

