<!-- student-list.page.html -->
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>List All inputs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <table class="table">
    <thead>
      <tr>
       
        <th scope="col">Id</th>
        <th scope="col">Zone</th>
        <th scope="col">Temperature</th>
        <th scope="col">Humidity</th>
        <th scope="col">AirQuality</th>
        <th scope="col">Gender</th>
        <th scope="col">Date</th>
        <th scope="col">Actions</th>
     
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of InputsData">
       
        <td>{{ item.id }}</td>
        <td>{{ item.Zone }}</td>
        <td>{{ item.Temperature }}</td>
        <td>{{ item.Humidity }}</td>
        <td>{{ item.AirQuality }}</td>
        <td>{{ item.Gender }}</td>
        <td>{{ item.Date }}</td>
    
        <td style="display: flex">
          <ion-button color="warning" size="small" routerLink='/input-edit/{{item.id}}'>
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button color="danger" size="small" (click)="delete(item)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </td>
      </tr>
    </tbody>
  </table>
  <ion-button [routerLink]="['/input-create']">
    Add Input
  </ion-button>
</ion-content>