<!-- student-edit.page.html -->
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Edit Input Record</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


<ion-item>
    <ion-label>Zone</ion-label>
    <ion-input [(ngModel)]="data.Zone" placeholder="Enter Zone"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Temperature</ion-label>
    <ion-input [(ngModel)]="data.Temperature" placeholder="Enter temperature"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Humidity</ion-label>
    <ion-input [(ngModel)]="data.Humidity" placeholder="Enter Humidity"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label>Air quality</ion-label>
    <ion-input [(ngModel)]="data.AirQuality" placeholder="Enter air quality"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Your Gender</ion-label>
    <ion-input [(ngModel)]="data.Gender" placeholder="Enter your gender"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Date</ion-label>
    <ion-input [(ngModel)]="data.Date" placeholder="Enter date"></ion-input>
  </ion-item>

  <ion-button (click)="update()" color="success" size="small">
    Update
  </ion-button>
  <ion-button [routerLink]="[ '/admin']" color="danger" size="small">
    Cancel
  </ion-button>

</ion-content>